.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
  font-family: sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
  color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
  color: #fff !important;
}

.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}

.dropdown-menu li a {
  color: #000 !important;
}

.dropdown-menu li a:hover {
  background-color: red !important;
}

.menu {
  cursor: pointer;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: 100px;
  color: rgb(24, 108, 192);
  line-height: 40px;
}

li:hover {
  text-decoration: none;
  color: #e8e8e8;
  text-decoration: underline;
  color: rgb(74, 151, 228);
}

a {
  cursor: pointer;
}

.types {
  padding: 5% 40px;
}

.tech {
  float: left;
}

.fin {
  float: left;
}

.block {
  margin-bottom: 300px;
}

img {
    border-radius: 15px;
}

.tech{
    display: none;
}
.fin{
    display: none;
}
.cname{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    left: 30px;
   }
.title{
    font-size: 20px;
    font-weight: bold;
}
.description{
    font-size: 20px;
}
.btn-success {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 10px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.btn-success:hover {
    background: #2dc997;
    border: 2px solid #2dc997;
}


.flip-cards{
    margin: 0px auto;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


.brandsShow {
    width: 1200px;
    height: 620px;
    margin: 0 auto;
}

.brandsShow ul {
    margin-left: -20px;
    width: 1225px;
    height: auto;
}
* {
    margin: 0;
    padding: 0;
}


@media only screen and (min-width: 900px){
    
    .flip-cards{
    margin: 0px auto;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}



.brandsShow {
    width: 1200px;
    height: 620px;
    margin: 0 auto;
}

.brandsShow ul {
    margin-left: -20px;
    width: 1225px;
    height: auto;
}


.flip-container {
    perspective: 1000;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    margin: 0px auto;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.flip-container:hover .back {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    z-index: 2;
}

.flip-container:hover .front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    z-index: 1
}

.flip-container,
.front,
.back {
    width: 200px;
    height: 200px;
}

.flipper {
    transition: transform 0.6s ease-out;
    transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    transition: 0.6s ease-out;
    -webkit-transition: .6s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

.front img,
.back img {
    width: 500px;
    height: 300px;
    overflow: hidden;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}

.back {
    z-index: 1;
    transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}
}
/* 手機版拉幹 */

@media(max-width: 900px){

#parallax10 > img {
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: inline-block;
}

.front, .back{
    display: inline-block;
}

}

