.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
    font-family: sans-serif;
  }
  
  .navbar li a,
  .navbar .navbar-brand {
    color: #d5d5d5 !important;
  }
  
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  
  .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
  }
  
  .dropdown-menu li a {
    color: #000 !important;
  }
  
  .dropdown-menu li a:hover {
    background-color: red !important;
  }