.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

/* Add a gray color to all navbar links */

.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}

/* On hover, the links will turn white */

.navbar-nav li a:hover {
  color: #fff !important;
}

/* The active link */

.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}

/* Remove border color from the collapsible button */

.navbar-default .navbar-toggle {
  border-color: transparent;
}

/* Dropdown */

.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}

/* Dropdown links */

.dropdown-menu li a {
  color: #000 !important;
}

/* On hover, the dropdown links will turn red */

.dropdown-menu li a:hover {
  background-color: red !important;
}

@font-face {
  font-family: 'Helios Rounded';
  /* Change to your font's name. */
  src: url('fonts/Helios Rounded.woff');
  /* Change to match your font file's location. */
}

h1 {
  color: #7c795d;
  font-family: 'Trocchi', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  text-align: center;
}

h2 {
  position: relative;
  left: 60px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
  display: flex;
  top: 80px;
  font-family: calibri;
  font-weight: 500;
  color: #53bda5;
  /* text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15); */
}

/* .hide{
  display: none;
} */

#logo {
  height: 180px;
  width: 250px;
  position: relative;
  top: 80px;
  left: 50px;
}

.quesmenu {
  padding: 20px;
  display: block;
  text-align: center;
  margin: auto;
  position: relative;
  top: -5px;
  background: white;
}

.quesnum {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #008CBA;
  border-radius: 8px;
  line-height: 9px;
}

#btn {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

#btn :hover {
  background-color: #008CBA;
  color: white;
}

.comment{
  position: relative;
  top: -145%;
  left: 60%;
  width: 40%;
  background-color: white;
}

label {
  color: #B4886B;
  font-weight: bold;
  display: block;
  width: 150px;
}

.result {
  position: relative;
  border: 3px solid white;
  width: 870px;
  height: 500px;
  left: 16%;
  font-size: medium;
  background: white;
  border-radius: 11px;
  top: -30px;
}

.num {
  display: inline-block;
  left: 16%;
  position: relative;
  font-size: x-large;
  font-weight: 700;
}

.ques {
  display: flex;
  position: relative;
  left: 20%;
  font-size: x-large;
  font-weight: 700;
  top: -35px;
}

.reply {
  height: 120px;
  width: 500px;
  border: none;
  position: relative;
  top: 5px;
  left: 10px;
  font-size: medium;
}

.ans {
  height: 120px;
  width: 500px;
  border: none;
  position: relative;
  top: 5px;
  left: 10px;
  font-size: medium;
}

/* .nlpchart {
  display: contents;
} */


.emochart{
  width: 40%;
  height: 57%;
  position: relative;
  top: -140%;
  left: 60%;
}

/* .chart-container{
  display: flex;
  position: relative;
  height: 0px;
  width: 250px;
} */