@font-face {
    font-family: 'Helios Rounded';
    /* Change to your font's name. */
    src: url('fonts/Helios Rounded.woff');
    /* Change to match your font file's location. */
  }

  h1 {
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    text-align: center;
  }

h2 {
    color: burlywood;
    font-family: 'Trocchi', serif;
    position: relative;
    left: 60px;
    vertical-align:middle;
    text-align:center;
    font-size: 40px;
    display: flex;
    /* text-shadow: 0 1px 0 #ccc,
      0 2px 0 #c9c9c9,
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9,
      0 5px 0 #aaa,
      0 6px 1px rgba(0, 0, 0, .1),
      0 0 5px rgba(0, 0, 0, .1),
      0 1px 3px rgba(0, 0, 0, .3),
      0 3px 5px rgba(0, 0, 0, .2),
      0 5px 10px rgba(0, 0, 0, .25),
      0 10px 10px rgba(0, 0, 0, .2),
      0 20px 20px rgba(0, 0, 0, .15); */
  }

  .quesmenu {
    padding: 20px;
    display: block;
    text-align: center;
  }

  .quesnum {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #008CBA;
    border-radius: 8px;
    line-height: 9px;
  }

  #ques1 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

  #ques1:hover {
    background-color: #008CBA;
    color: white;
  }

  #ques2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

  #ques2:hover {
    background-color: #008CBA;
    color: white;
  }

  #ques3 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

  #ques3:hover {
    background-color: #008CBA;
    color: white;
  }

  #ques4 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

  #ques4:hover {
    background-color: #008CBA;
    color: white;
  }

  #ques5 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

  #ques5:hover {
    background-color: #008CBA;
    color: white;
  }

  #ques6 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

  #ques6:hover {
    background-color: #008CBA;
    color: white;
  }

  #ques7 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

  #ques7:hover {
    background-color: #008CBA;
    color: white;
  }

  #ques8 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

  #ques8:hover {
    background-color: #008CBA;
    color: white;
  }

  #ques9 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

  #ques9:hover {
    background-color: #008CBA;
    color: white;
  }

  #ques10 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

  #ques10:hover {
    background-color: #008CBA;
    color: white;
  }

  .result1 {
    left: 50px;
    position: relative;
    border: 3px solid red;
  }