<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <title>Document</title>
</head>
<body><div class="container">
<style>
    a{
        font-size: 30px;
       }
    .title{
        font-size: 20px;
        font-weight: bold;
    }
    .description{
        font-size: 20px;
    }
</style>
<a href="javascript:" onclick="document.all.fullContent1.style.display=(document.all.fullContent1.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">Citigroup Inc.</a>
<div class="block" id="fullContent1" style="display:none;">
    <p class="description">An American multinational investment bank and financial services corporation headquartered in New York City. The company was formed by the merger of banking giant Citicorp and financial conglomerate Travelers Group in 1998; Travelers was subsequently spun off from the company in 2002. Citigroup owns Citicorp, the holding company for Citibank, as well as several international subsidiaries. Citi is incorporated in New York.<br>
    Citigroup is the third largest banking institution in the United States alongside JPMorgan Chase, Bank of America, and Wells Fargo, it is one of the Big Four banking institutions of the United States.[24] It is a systemically important financial institution and is on the list of systemically important banks that are commonly cited as being too big to fail. It is one of the nine global investment banks in the Bulge Bracket.</p>
    <h1 class="title">Headquarter:</h1><p class="description">388-390 Greenwich St., New York</p>
    <h1 class="title">Founded:</h1><p class="description">October 8, 1998</p>
    <h1 class="title">Fonder:</h1><p class="description">Samuel Osgood & Arthur L. Williams Jr.</p>
    <h1 class="title">Key People:</h1><p class="description">John C. Dugan (Chairman),Michael Corbat (CEO),Jane Fraser (President)</p>
    <h1 class="title">Services:</h1><p class="description">Credit cards, Retail banking, Commercial banking, Private banking, Investment banking, Financial analysis</p>
</div><br>

<a href="javascript:" onclick="document.all.fullContent2.style.display=(document.all.fullContent2.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">Goldman Sachs</a>
<div class="block" id="fullContent2" style="display:none;">
    <p class="description">An American multinational investment bank and financial services company headquartered in New York City. It offers services in investment management, securities, asset management, prime brokerage, and securities underwriting. It also provides investment banking to institutional investors.<br>
    Goldman Sachs was established in 1869 by Marcus Goldman, a Bavarian school teacher who emigrated to the United States in 1848. Goldman’s son-in-law, Samuel Sachs, joined the company in 1882. In 1885, the business expanded into a partnership when Goldman’s son, Henry, and son-in-law, Ludwig Dreyfus joined the company. Goldman Sachs became one of the first firms to offer commercial paper financing to entrepreneurs. The company joined the New York Stock Exchange in 1896. In two years’ time, the company grew rapidly and increased its capital to $1.6 million.</p>
    <h1 class="title">Headquarter:</h1><p class="description">200 West Street, New York</p>
    <h1 class="title">Founded:</h1><p class="description">1869</p>
    <h1 class="title">Fonder:</h1><p class="description">Marcus Goldman & Samuel Sachs</p>
    <h1 class="title">Key People:</h1><p class="description">Lloyd Blankfein (Senior Chairman),David M. Solomon (Chairman and CEO),John E. Waldron (President and COO)</p>
    <h1 class="title">Services:</h1><p class="description">Asset management, Credit Cards,Commercial banking, Commodities,Investment banking,Prime brokerage,Investment management, Mutual funds</p>
</div><br>

<a href="javascript:" onclick="document.all.fullContent3.style.display=(document.all.fullContent3.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">Morgan Stanley</a>
<div class="block" id="fullContent3" style="display:none;">
    <p class="description">A financial services corporation that, through its affiliates and subsidiaries, advises, and originates, trades, manages, and distributes capital for institutions, governments, and individuals. The company operates in three business segments: Institutional Securities, Wealth Management, and Investment Management.<br>
    Morgan Stanley was formed as a result of the Glass-Steagall Act that required United States banks to separate their investment banking and commercial banking businesses. It followed the Great Depression when there were a series of bank runs, and commercial banks were accused of taking too many risks using depositors’ funds. When J.P. Morgan chose to continue with commercial banking, some of its employees, notably Henry S. Morgan and Harold Stanley, left the company to start an investment banking company.</p>
    <h1 class="title">Headquarter:</h1><p class="description">Manhattan, New York City</p>
    <h1 class="title">Founded:</h1><p class="description">September 16, 1935</p>
    <h1 class="title">Fonder:</h1><p class="description">Henry Sturgis Morgan & Harold Stanley</p>
    <h1 class="title">Key People:</h1><p class="description">James P. Gorman (Chairman & CEO),Thomas Nides (Vice Chairman),Jonathan Pruzan (CFO)</p>
    <h1 class="title">Services:</h1><p class="description">Investment banking, Prime brokerage, Sales & Trading, Commodities, Wealth management, Investment management</p>
</div><br>









    
</div></body>
</html>