<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>Document</title>
</head>
<link rel="stylesheet" href="{% static "css/companyProfile.css" %}">

<body >
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href=""><span class="glyphicon glyphicon-file logo"></span><b> Company Profile</b></a>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a onclick="location.href='/'" style=cursor: pointer;>HOME</a></li>
            <li><a onclick="location.href='/users/services/'">Services</a></li>
            <li><a onclick="location.href='/users/questionBank/'">Question Bank</a></li>
            <li><a onclick="location.href='/users/interviewSkill/'">Interview Skills</a></li>
            <!-- <li><a onclick="location.href='/users/companyProfile/'">Company Profile</a></li> -->
            <li><a onclick="location.href='/newstech/'">News</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Entry
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href='/users/login/'>Sign In</a></li>
                <li><a href='/users/signUp/'>Sign Up</a></li>
                <li><a href="/users/logout/">Log Out</a></li>
              </ul>
            </li>
            <li><a onclick="location.href='/users/aboutUs/'">About Us</a></li>`
            <li><a onclick="location.href='/users/aboutUs/'">Personal Profile</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="types">
      <button class="click btn-success">Information Technology/Engineering</button>
      <button class="click1 btn-success">Finance/Accounting/Audit/Tax/Securities/Investment/Bank</button>
    </div>
    <div class="tech">
      <div class="block">
        <div class="intelnews" style="display:block; position: absolute; left: 49%; width: 50%;height: 40%;">
          {% for new, des, ur, tim in intel_list %}
          <h3 style="font-size: 20px;">{{new}}</h3>
          Published Time: {{tim}}
          <br>
          <a href={{ur}}>{{ur}}</a>
          {% endfor %}
        </div>
        <h class="cname">Intel Corporation</h><br>
        <ul>
          <li class="flip-container " ontouchstart="this.classList.toggle('hover');">
            <a href="brandLi.html" class="flipper"></a>
            <div class="front"> <img src="/static/img/intel.jpeg" /></div>
            <div class="back"><img src="{% static "img/intel_bback.jpg" %}" /></div>
          </li>
        </ul>

      </div><br><br><br>
     

      <div class="block">
        <div class="microsoftnews" style="display:block; position: absolute; left: 49%; width: 50%;height: 40%;">
          {% for new, des, ur, tim in microsoft_list %}
          <h3 style="font-size: 20px;">{{new}}</h3>
          Published Time: {{tim}}
          <br>
          <a href={{ur}}>{{ur}}</a>
          {% endfor %}
        </div>
        <h class="cname">Microsoft Corporation</h><br>
        <ul>
          <li class="flip-container " ontouchstart="this.classList.toggle('hover');">
            <a href="brandLi.html" class="flipper"></a>
            <div class="front"> <img src="/static/img/microsoft.jpeg" /></div>
            <div class="back"><img src="{% static "img/microsoft_back.png" %}" /></div>
          </li>
        </ul>
      </div><br><br><br>

      <div class="block">
        <div class="googlenews" style="display:block; position: absolute; left: 49%; width: 50%;height: 40%;">
          {% for new, des, ur, tim in google_list %}
          <h3 style="font-size: 20px;">{{new}}</h3>
          Published Time: {{tim}}
          <br>
          <a href={{ur}}>{{ur}}</a>
          {% endfor %}
        </div>
        <h class="cname">Google</h><br>
        <ul>
          <li class="flip-container " ontouchstart="this.classList.toggle('hover');">
            <a href="brandLi.html" class="flipper"></a>
            <div class="front"> <img src="/static/img/google.jpeg" /></div>
            <div class="back"><img src="{% static "img/google_back.jpg" %}" /></div>
          </li>
        </ul>
      </div><br><br><br>

      <div class="block">
        <div class="IBMnews" style="display:block; position: absolute; left: 49%; width: 50%;height: 40%;">
          {% for new, des, ur, tim in IBM_list %}
          <h3 style="font-size: 20px;">{{new}}</h3>
          Published Time: {{tim}}
          <br>
          <a href={{ur}}>{{ur}}</a>
          {% endfor %}
        </div>
        <h class="cname">IBM</h><br>
        <ul>
          <li class="flip-container " ontouchstart="this.classList.toggle('hover');">
            <a href="brandLi.html" class="flipper"></a>
            <div class="front"> <img src="/static/img/ibm.jpeg" /></div>
            <div class="back"><img src="{% static "img/ibm_back.jpg" %}" /></div>
          </li>
        </ul>
      </div><br><br><br>

      <div class="block">
        <div class="IBMnews" style="display:block; position: absolute; left: 49%; width: 50%;height: 40%;">
          {% for new, des, ur, tim in TSMC_list %}
          <h3 style="font-size: 20px;">{{new}}</h3>
          Published Time: {{tim}}
          <br>
          <a href={{ur}}>{{ur}}</a>
          {% endfor %}
        </div>
        <h class="cname">TSMC</h><br>
        <ul>
          <li class="flip-container " ontouchstart="this.classList.toggle('hover');">
            <a href="brandLi.html" class="flipper"></a>
            <div class="front"> <img src="/static/img/tsmc.jpeg" /></div>
            <div class="back"><img src="{% static "img/tsmc_back.jpg" %}" /></div>
          </li>
        </ul>
      </div><br>
    </div>


    <div class="fin">
      <div class="block">
        <!-- <div class="Citigroupnews" style="display:block; position: absolute; left: 49%; width: 50%;height: 40%;">
          {% for new, des, ur, tim in citigroup_list %}
          <h3 style="font-size: 20px;">{{new}}</h3>
          Published Time: {{tim}}
          <br>
          <a href={{ur}}>{{ur}}</a>
          {% endfor %}
        </div> -->
        <h class="cname">Citigroup Inc.</h><br>
        <ul>
          <li class="flip-container " ontouchstart="this.classList.toggle('hover');">
            <a href="brandLi.html" class="flipper"></a>
            <div class="front"> <img src="/static/img/citibank.jpeg" /></div>
            <div class="back"><img src="{% static "img/citi_back.png" %}" /></div>
          </li>
        </ul>
      </div><br><br><br>

      <div class="block">
        <div class="Goldmannews" style="display:block; position: absolute; left: 49%; width: 50%;height: 40%;">
          {% for new, des, ur, tim in Goldman_list %}
          <h3 style="font-size: 20px;">{{new}}</h3>
          Published Time: {{tim}}
          <br>
          <a href={{ur}}>{{ur}}</a>
          {% endfor %}
        </div>
        <h class="cname">Goldman Sachs</h><br>
        <ul>
          <li class="flip-container " ontouchstart="this.classList.toggle('hover');">
            <a href="brandLi.html" class="flipper"></a>
            <div class="front"> <img src="/static/img/goldman.jpeg" /></div>
            <div class="back"><img src="{% static "img/goldman_back.png" %}" /></div>
          </li>
        </ul>
      </div><br><br><br>

      <div class="block">
        <h class="cname">Morgan Stanley</h><br>
        <ul>
          <li class="flip-container " ontouchstart="this.classList.toggle('hover');">
            <a href="brandLi.html" class="flipper"></a>
            <div class="front"> <img src="/static/img/morgan stanley.jpeg" /></div>
            <div class="back"><img src="{% static "img/morgan_back.jpg" %}" /></div>
          </li>
        </ul>
      </div><br><br><br>

      <div class="block">
        <h class="cname">HSBC</h><br>
        <ul>
          <li class="flip-container " ontouchstart="this.classList.toggle('hover');">
            <a href="brandLi.html" class="flipper"></a>
            <div class="front"> <img src="/static/img/hsbc.jpeg" /></div>
            <div class="back"><img src="{% static "img/hsbc_back.jpg" %}" /></div>
          </li>
        </ul>
      </div><br>

    </div>
</body>
<script>
  $(document).ready(function () {
    $(".click").click(function () {
      $(".tech").show();
      $(".fin").hide();
    })
  });

  $(document).ready(function () {
    $(".click1").click(function () {
      $(".fin").show();
      $(".tech").hide();
    })
  });
</script>

</html>