<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>Document</title>
</head>
<link rel="stylesheet" href="{% static "css/companyProfile.css" %}">

<body>
  <div class="container">
    <button class="click btn-success">Information Technology/Engineering</button>
    <button class="click1 btn-success">Finance/Accounting/Audit/Tax/Securities/Investment/Bank</button>
    <div class="tech">
      <div>
        <h class="cname">Intel Corporation</h><br>
        <ul>
          <li class="flip-container " ontouchstart="this.classList.toggle('hover');">
            <a href="brandLi.html" class="flipper"></a>
            <div class="front" > <img src="/static/img/intel.jpeg" /></div>
            <div class="back"><img src="{% static "img/ibm.jpeg" %}" /></div>
          </li>
        </ul>
        <h1 class="title">Headquarter:</h1>
        <p class="description">Santa Clara, California, U.S.</p>
        <h1 class="title">Founded:</h1>
        <p class="description">July 18, 1968</p>
        <h1 class="title">Fonder:</h1>
        <p class="description">Gordon Moore & Robert Noyce</p>
        <h1 class="title">Key People:</h1>
        <p class="description">Gordon Moore (Chairman Emeritus), Dr. Omar Ishrak (Chairman), Bob Swan (CEO)</p>
        <h1 class="title">Services:</h1>
        <p class="description">Central processing units, Modems Microprocessors, Motherboard chipsets, Systems-on-chip
          (SoCs), Network interface controllers, Wi-Fi and Bluetooth Chipsets, Solid state drives, Flash memory, Vehicle
          automation sensors</p>
      </div><br>
      <div>
        <h class="cname">Microsoft Corporation</h><br>
        <ul>
          <li class="flip-container " ontouchstart="this.classList.toggle('hover');">
            <a href="brandLi.html" class="flipper"></a>
            <div class="front" > <img src="/static/img/microsoft.jpeg" /></div>
            <div class="back"><img src="{% static "img/ibm.jpeg" %}" /></div>
          </li>
        </ul>
        <h1 class="title">Headquarter:</h1>
        <p class="description">Redmond, Washington, US</p>
        <h1 class="title">Founded:</h1>
        <p class="description">April 4, 1975</p>
        <h1 class="title">Fonder:</h1>
        <p class="description">Bill Gates & Paul Allen</p>
        <h1 class="title">Key People:</h1>
        <p class="description">John W. Thompson (Chairman), Satya Nadella (CEO), Brad Smith (President), Bill Gates
          (Technical advisor)</p>
        <h1 class="title">Services:</h1>
        <p class="description">Azure, Bing, LinkedIn , Outlook.com, Yammer, MSDN, Office365 OneDrive, GitHub, TechNet,
          Microsoft Store</p>
      </div><br>
      <div>
        <h class="cname">Google LLC</h><br>
        <img src="/static/img/google.jpeg" width="50%" />
        <h1 class="title">Headquarter:</h1>
        <p class="description">Mountain View, California, US</p>
        <h1 class="title">Founded:</h1>
        <p class="description">September 4, 1998</p>
        <h1 class="title">Fonder:</h1>
        <p class="description">Larry Page & Sergey Brin</p>
        <h1 class="title">Key People:</h1>
        <p class="description">Sundar Pichai (CEO), Ruth Porat (CFO)</p>
        <h1 class="title">Services:</h1>
        <p class="description">Online advertising technologies, Search engine, Cloud computing, Computer software,
          Computer hardware, Artificial intelligence</p>
      </div><br>
      <div>
        <h class="cname">IBM</h><br>
        <img src="/static/img/ibm.jpeg" width="50%" />
        <h1 class="title">Headquarter:</h1>
        <p class="description">Armonk, New York, U.S.</p>
        <h1 class="title">Founded:</h1>
        <p class="description">June 16, 1911</p>
        <h1 class="title">Fonder:</h1>
        <p class="description">Charles R. Flint & Thomas J. Watson</p>
        <h1 class="title">Key People:</h1>
        <p class="description">Ginni Rometty (Executive Chairman), Arvind Krishna (CEO), Jim Whitehurst (President)</p>
        <h1 class="title">Services:</h1>
        <p class="description">Cloud computing, Artificial intelligence, Computer hardware, Computer software,
          Consulting</p>
      </div><br>
      <div>
        <h class="cname">TSMC</h><br>
        <img src="/static/img/tsmc.jpeg" width="50%" />
        <h1 class="title">Headquarter:</h1>
        <p class="description">Hsinchu Science Park, Taiwan</p>
        <h1 class="title">Founded:</h1>
        <p class="description">February 21, 1987</p>
        <h1 class="title">Fonder:</h1>
        <p class="description">Morris Chang</p>
        <h1 class="title">Key People:</h1>
        <p class="description">Mark Liu (Chairman), C.C. Wei (President and CEO)</p>
        <h1 class="title">Services:</h1>
        <p class="description">Manufacture of Integrated circuits and related services</p>
      </div><br>
    </div>


    <div class="fin">
      <div>
        <h class="cname">Citigroup Inc.</h><br>
        <img src="/static/img/citibank.jpeg" width="50%" />
        <h1 class="title">Headquarter:</h1>
        <p class="description">388-390 Greenwich St., New York</p>
        <h1 class="title">Founded:</h1>
        <p class="description">October 8, 1998</p>
        <h1 class="title">Fonder:</h1>
        <p class="description">Samuel Osgood & Arthur L. Williams Jr.</p>
        <h1 class="title">Key People:</h1>
        <p class="description">John C. Dugan (Chairman),Michael Corbat (CEO),Jane Fraser (President)</p>
        <h1 class="title">Services:</h1>
        <p class="description">Credit cards, Retail banking, Commercial banking, Private banking, Investment banking,
          Financial analysis</p>
      </div><br>
      <div>
        <h class="cname">Goldman Sachs</h><br>
        <img src="/static/img/goldman.jpeg" width="50%" />
        <h1 class="title">Headquarter:</h1>
        <p class="description">200 West Street, New York</p>
        <h1 class="title">Founded:</h1>
        <p class="description">1869</p>
        <h1 class="title">Fonder:</h1>
        <p class="description">Marcus Goldman & Samuel Sachs</p>
        <h1 class="title">Key People:</h1>
        <p class="description">Lloyd Blankfein (Senior Chairman),David M. Solomon (Chairman and CEO),John E. Waldron
          (President and COO)</p>
        <h1 class="title">Services:</h1>
        <p class="description">Asset management, Credit Cards,Commercial banking, Commodities,Investment banking,Prime
          brokerage,Investment management, Mutual funds</p>
      </div><br>
      <div>
        <h class="cname">Morgan Stanley</h><br>
        <img src="/static/img/morgan stanley.jpeg" width="50%" />
        <h1 class="title">Headquarter:</h1>
        <p class="description">Manhattan, New York City</p>
        <h1 class="title">Founded:</h1>
        <p class="description">September 16, 1935</p>
        <h1 class="title">Fonder:</h1>
        <p class="description">Henry Sturgis Morgan & Harold Stanley</p>
        <h1 class="title">Key People:</h1>
        <p class="description">James P. Gorman (Chairman & CEO),Thomas Nides (Vice Chairman),Jonathan Pruzan (CFO)</p>
        <h1 class="title">Services:</h1>
        <p class="description">Investment banking, Prime brokerage, Sales & Trading, Commodities, Wealth management,
          Investment management</p>
      </div><br>
      <div>
        <h class="cname">HSBC</h><br>
        <img src="/static/img/hsbc.jpeg" width="50%" />
        <h1 class="title">Headquarter:</h1>
        <p class="description">8 Canada Square, London, UK</p>
        <h1 class="title">Founded:</h1>
        <p class="description">3 March 1865</p>
        <h1 class="title">Fonder:</h1>
        <p class="description">Sir Thomas Sutherland</p>
        <h1 class="title">Key People:</h1>
        <p class="description">Mark Tucker (Group Chairman), Noel Quinn(Group Chief Executive)</p>
        <h1 class="title">Services:</h1>
        <p class="description">Retail banking, Corporate banking, Investment banking, Mortgage loans, Private banking,
          Wealth management, Credit cards, Insurance</p>
      </div><br>
    </div>
</body>
<script>
  $(document).ready(function () {
    $(".click").click(function () {
      $(".tech").show();
      $(".fin").hide();
    })
  });

  $(document).ready(function () {
    $(".click1").click(function () {
      $(".fin").show();
      $(".tech").hide();
    })
  });
</script>

</html>