<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" 
                       href="#collapseOne">
                       What are dividends?
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Dividends are periodic cash payments distributed to shareholders. Both common and preferred shareholders can receive dividends, but a firm must pay preferred shareholders first before common shareholders can be paid.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" 
                       href="#collapseTwo">
                       What are stock splits?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Stock splits divide a company’s shares into fractions, usually of equal value. This is usually done when the company’s stock price increases significantly. A split ensures that the company’s shares remain affordable and therefore liquid (anyone has the capacity to buy 1 or more shares in the company).
Alternatively, when stock prices drop precipitously to become penny stocks, respectable firms will generally undergo a reverse stock split to stem volatility.

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" 
                       href="#collapseThree">
                       What is a stock buyback/share repurchase?
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Stock buybacks are another way for companies to return money to its shareholders by buying back stock in the secondary market. For equity capital markets and equity derivatives you may be expected to know about Normal Course Issuer Bids and Substantial Issuer Bids.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" 
                       href="#collapseFour">
                       What are 3 significant things that happened in the markets this past week?
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    Traders are looking for someone intellectually curious who will be engaged with the drivers behind the work. Unlike investment banking which tends to be more regional, markets and products are global and never sleep. No matter where you are in the world, the trading floor is affected by the Federal Reserve, the price of oil and the S&P 500.
As such, the WSJ and Bloomberg are going to be much more relevant than Dealbook. Knowing commodity prices and where the TSX is at is very important when interviewing for a Canadian bank.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" 
                       href="#collapseFive">
                       Why did the tech bubble burst? Why did the financial crisis happen?
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    This is rarely asked on the trading floor now as people have short memories, but for nerdier quant groups, this will come up.
Generally, bubbles occur when investor confidence pushes the price of the securities significantly above its fundamental value. The tech bubble is no different. The term “Irrational Exuberance” was coined by Fed Chairman Alan Greenspan to describe this phenomenon.
The sentiment behind this bubble was that the growth of companies with any online presence or loose relation would be astronomical, but a realisation that normal valuation principles still applied and that many of these companies had no feasible timeline to profit (or even revenue) resulted in markets receding. Literature suggests that a Barron’s article sparked the reversal.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" 
                       href="#collapseSix">
                       If you had $1 million what would you invest in?
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    There is no single correct answer to this question. You may want to start with describing your risk tolerance based on your financial position and your expected outlay. Then, based on the current market conditions (stock market, bond market, commodities market), allocate assets based on how far they deviate away from their fundamental levels.
The main thing that the interviewer is looking for is the quality of your thought process and your ability to articulate your ideas.
                </div>
            </div>
        </div>
        
    </div>
    
</body>
</html>