<!DOCTYPE html>
{% load static %}
<html lang="zh-Hant">

<head>
  <title>Check the surrounding equipments</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta16/shoelace.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <!-- /Bootstrap CSS -->
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

  <style src="{% static "css/equipCheck.css" %}" media="all"></style>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href='/' >Home</a></li>
          <li><a href='/users/services/'>Services</a></li>
          <li><a href='/users/questionBank/'>Question Bank</a></li>
          <li><a href='/users/interviewSkill/'>Interview Skills</a></li>
          <li><a href='/users/companyProfile/'>Company Profile</a></li>
          <li><a href='/newstech/'>News</a></li>
          <li><a href='/users/login/'>Sign In</a></li>
          <li><a href='/users/signUp/'>Sign Up</a></li>
          <li><a href="/users/logout/">Log Out</a></li>
          <li><a href='/users/aboutUs/'>About Us</a></li>`
          <li><a href='/users/aboutUs/'>Personal Profile</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="audio" class="Audio" style="position: relative; margin-top: 10%;"> 
    <div style="position: relative; text-align: center;">
      <h1>Check the mircophone</h1>
      <button id="start-record-btn" type="button" title="Start Recording" class="btn btn-outline-success">Start Recognition</button>
      <button id="pause-record-btn" type="button" title="Pause Recording" class="btn btn-outline-danger">Pause Recognition</button>    
      <button id="save-note-btn" type="button" class="btn btn-outline-secondary" title="Clear record">Clear Record</button>   
      <button id="next" type="button" class="btn btn-outline-primary">Next Step</button>
      <p id="recording-instructions">Press the <strong>Start Recognition</strong> button and allow access.</p>
    </div>
      <textarea id="note-textarea" name = "note-textarea" placeholder="Your answer will be shown here." style="width: 80%;position: relative;left: 10%;height: 250px"></textarea>
</div>
  <div class="container" id="video" style="display: none;">
      <div class="card-body">
        <div class="row mb-4">
          <div class="col-12">
            <h1 class="text-center mb-3" style="position:relative; top: 70px;">Check the Web Camera</h1>
            <!-- <p>
              這個範例示範如何透過瀏覽器內建的 MediaStream API 來打造影音錄影的功能
              <small class="text-muted">
                （開發環境使用 Chrome 瀏覽器）
              </small>
            </p> -->
          </div>
        </div>

        <div class="row mb-5 justify-content-center align-items-center">
          <div class="col-md-6 text-center">
            <div class="video-container d-flex align-items-center justify-content-center">
              <div class="is-recording"></div>
              <!-- The controls attribute adds video controls, like play, pause, and volume. -->
              <video style="position: relative; left: 30%" width="450" height="450" id="inputVideo" alt="在這裡錄影" muted>Video stream not available.</video>
              <video style="position:relative; top: 40px;" width="450" height="340" id="outputVideo" alt="錄好的畫面將會出現在這" muted>Video stream not available.</video>
            </div>
          </div>
        </div>

        <div class="row mb-4 justify-content-center align-items-center">
          <div style="position: relative;top: -80px;display: flex;" class="col-4 d-flex justify-content-center align-items-center">
            <button id="startBtn" class="btn btn-sm btn-outline-primary">Start Recording</button>
            <button id="stopBtn" class="btn btn-sm btn-outline-danger" style="display:none">Stop Recording</button>
            <button id="resetBtn" class="btn btn-sm btn-outline-info" style="position: relative;top: 80px;left: 60px;display:none">Restart Recorder</button>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div role="alert" id="errorMsg"></div>
          </div>
        </div>
      </div>
  </div>


  <!-- Vendor -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- Vendor -->

  <!-- mian -->
  <script src="{% static "js/equipCheck.js" %}"></script>
  <!-- mian -->
</body>

</html>
