<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>

</head>
<!-- <link href="{% static "css/interviewSkill.css" %}" rel="stylesheet">
  -->
<body>
    <div class="container">
        
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="#myPage"><span class="glyphicon glyphicon-briefcase logo"></span><b> Interview Skills</b></a>
              <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a onclick="location.href='/'" style= cursor: pointer;>Home</a></li>
                      <li><a onclick="location.href='/users/services/'">Services</a></li>
                      <li><a onclick="location.href='/users/questionBank/'">Question Bank</a></li>
                      <!-- <li><a onclick="location.href='/users/interviewSkill/'">Interview Skills</a></li> -->
                      <li><a onclick="location.href='/users/companyProfile/'">Company Profile</a></li>
                      <li><a onclick="location.href='/newstech/'">News</a></li>
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Entry
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href='/users/login/'>Sign In</a></li>
                          <li><a href='/users/signUp/'>Sign Up</a></li>
                          <li><a href="/users/logout/">Log Out</a></li>
                        </ul>
                      </li>
                      <li><a onclick="location.href='/users/aboutUs/'">About Us</a></li>`
                      <li><a onclick="location.href='/users/aboutUs/'">Personal Profile</a></li>
                  </ul>
              </div>
          </div>
      </nav>

      <style>
        .navbar {
          margin-bottom: 0;
          background-color: #2d2d30;
          border: 0;
          font-size: 11px !important;
          letter-spacing: 4px;
          opacity: 0.9;
          font-family: sans-serif;
      }
      .navbar li a, .navbar .navbar-brand {
          color: #d5d5d5 !important;
      }
      .navbar-nav li a:hover {
          color: #fff !important;
      }
      .navbar-nav li.active a {
          color: #fff !important;
          background-color:#29292c !important;
      }
      .navbar-default .navbar-toggle {
          border-color: transparent;
      }
      .open .dropdown-toggle {
          color: #fff ;
          background-color: #555 !important;
      }
      .dropdown-menu li a {
          color: #000 !important;
      }
      .dropdown-menu li a:hover {
          background-color: red !important;
      }
      .menu{
      cursor: pointer;
      font-size: 20px;
      position: relative;
      width: 100%;
      height: 100px;
      color:rgb(24, 108, 192);
      line-height: 40px;
      }
      li:hover{
          text-decoration: none;
          color: #e8e8e8;  
          text-decoration:underline;
          color:rgb(74, 151, 228);   
      }
      a{
          cursor: pointer;
      }
      .content{
        padding: 5% 40px;
      }
      .block{
        font-size: 20px;
      }
      .title{
        font-size: 20px;
      }

     
            /* .video-container {
                position: relative;
                padding-bottom: 56.25%;
                padding-top: 30px;
                height: 0;
                overflow: hidden;

            .video-container iframe, .video-container object, .video-container embed {
                position: absolute;
                top: 0;left: 0;
                width: 100%;
                height: 100%;
            } */
        </style>

        <div id="home" onmouseover="document.getElementById('topic').style.visibility = 'visible';"
            onmouseout="document.getElementById('topic').style.visibility = 'hidden';">
            <!-- <p id="topic">WINterview</p> -->
        </div>
        <script type="text/javascript">
            var appear = function (elem, visibility) {
                elem.style.visibility = visibility
            };

            var disappear = function (elem, visibility) {
                elem.style.visibility = visibility;
            };
        </script>

        <div class="content">
        <a class="title" href="javascript:"
            onclick="document.all.fullContent1.style.display=(document.all.fullContent1.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">1.
            Research the industry and company.</a>
        <div class="block" id="fullContent1" style="display:none;">An interviewer may ask how you perceive his company's
            position in its industry, who the firm's competitors are, what its competitive advantages are, and how it
            should best go forward. For this reason, avoid trying to thoroughly research a dozen different industries.
            Focus your job search on just a few industries instead.</div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent2.style.display=(document.all.fullContent2.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">2.
            Clarify your "selling points" and the reasons you want the job.</a>
        <div class="block" id="fullContent2" style="display:none;">Prepare to go into every interview with three to five
            key selling points in mind, such as what makes you the best candidate for the position. Have an example of
            each selling point prepared ("I have good communication skills. For example, I persuaded an entire group to
            ..."). And be prepared to tell the interviewer why you want that job – including what interests you about
            it, what rewards it offers that you find valuable, and what abilities it requires that you possess. If an
            interviewer doesn't think you're really, really interested in the job, he or she won't give you an offer –
            no matter how good you are!</div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent3.style.display=(document.all.fullContent3.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">3.
            Anticipate the interviewer's concerns and reservations.</a>
        <div class="block" id="fullContent3" style="display:none;">There are always more candidates for positions than
            there are openings. So interviewers look for ways to screen people out. Put yourself in their shoes and ask
            yourself why they might not want to hire you (“I don't have this,” “I'm not that,” etc.). Then prepare your
            defense: “I know you may be thinking that I might not be the best fit for this position because [their
            reservation]. But you should know that [reason the interviewer shouldn't be overly concerned]."</div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent4.style.display=(document.all.fullContent4.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">4.
            Prepare for common interview questions.</a>
        <div class="block" id="fullContent4" style="display:none;">Every "how to interview" book has a list of a hundred
            or more "common interview questions." (You might wonder just how long those interviews are if there are that
            many common questions!) So how do you prepare? Pick any list and think about which questions you're most
            likely to encounter, given your age and status (about to graduate, looking for a summer internship). Then
            prepare your answers so you won't have to fumble for them during the actual interview.</div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent5.style.display=(document.all.fullContent5.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">5.
            Line up your questions for the interviewer.</a>
        <div class="block" id="fullContent5" style="display:none;">Come to the interview with some intelligent questions
            for the interviewer that demonstrate your knowledge of the company as well as your serious intent.
            Interviewers always ask if you have any questions, and no matter what, you should have one or two ready. If
            you say, "No, not really," he or she may conclude that you're not all that interested in the job or the
            company. A good all-purpose question is, "If you could design the ideal candidate for this position from the
            ground up, what would he or she be like?"
            If you're having a series of interviews with the same company, you can use some of your prepared questions
            with each person you meet (for example, "What do you think is the best thing about working here?" and "What
            kind of person would you most like to see fill this position?") Then, try to think of one or two others
            during each interview itself.</div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent6.style.display=(document.all.fullContent6.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">6.
            Prepare yourself through mock interviews.</a>
        <div class="block" id="fullContent6" style="display:none;">Practice makes perfect, and interviews are no
            exception. Practicing the back and forth that occurs during an interview with family and friends will get
            you more comfortable when the interview occurs and help you tailor your response.</div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent7.style.display=(document.all.fullContent7.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">7.
            Score a success in the first five minutes.</a>
        <div class="block" id="fullContent7" style="display:none;">Some studies indicate that interviewers make up their
            minds about candidates in the first five minutes of the interview – and then spend the rest of the interview
            looking for things to confirm that decision! So what can you do in those five minutes to get through the
            gate? Come in with energy and enthusiasm, and express your appreciation for the interviewer's time.
            (Remember: She may be seeing a lot of other candidates that day and may be tired from the flight in. So
            bring in that energy!)
            Also, start off with a positive comment about the company – something like, "I've really been looking
            forward to this meeting [not "interview"]. I think [the company] is doing great work in [a particular field
            or project], and I'm really excited by the prospect of being able to contribute."
        </div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent8.style.display=(document.all.fullContent8.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">8.
            Get on the same side as the interviewer.</a>
        <div class="block" id="fullContent8" style="display:none;">Many interviewers view job interviews as adversarial:
            Candidates are going to try to pry an offer out of the interviewer, and the interviewer's job is to hold
            onto it. Your job is to transform this "tug of war" into a relationship in which you're both on the same
            side. You could say something as simple as, "I'm happy to have the chance to learn more about your company
            and to let you learn more about me, so we can see if this is going to be a good match or not. I always think
            that the worst thing that can happen is to be hired into a job that's wrong for you – then nobody's happy!"
        </div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent9.style.display=(document.all.fullContent9.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">9.
            Be assertive and take responsibility for the interview.</a>
        <div class="block" id="fullContent9" style="display:none;">Perhaps out of the effort to be polite, some usually
            assertive candidates become overly passive during job interviews. But politeness doesn't equal passivity. An
            interview is like any other conversation – it’s a dance in which you and a partner move together, both
            responding to the other. Don't make the mistake of just sitting there waiting for the interviewer to ask you
            about that Nobel Prize you won. It's your responsibility to make sure he walks away knowing your key selling
            points.</div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent10.style.display=(document.all.fullContent10.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">10.
            Be ready to handle illegal and inappropriate questions.</a>
        <div class="block" id="fullContent10" style="display:none;">Interview questions about your race, age, gender,
            religion, marital status, and sexual orientation are inappropriate and in many areas illegal. Nevertheless,
            you may get one or more of them. If you do, you have a couple of options. You can simply answer with a
            question ("I'm not sure how that's relevant to my application"), or you can try to answer "the question
            behind the question": "I don't know whether I'll decide to have children in the near future, but if you're
            wondering if I'll be leaving my job for an extended period of time, I can say that I'm very committed to my
            career and frankly can't imagine giving it up."</div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent11.style.display=(document.all.fullContent11.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">11.
            Make your selling points clear.</a>
        <div class="block" id="fullContent11" style="display:none;">If a tree falls in the forest and no one is there to
            hear it, did it make a sound? More important, if you communicate your selling points during a job interview
            and the interviewer doesn't get it, did you score? On this question, the answer is clear: No! So don't bury
            your selling points in long-winded stories. Instead, tell the interviewer what your selling point is first,
            then give the example.</div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent12.style.display=(document.all.fullContent12.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">12.
            Think positive.</a>
        <div class="block" id="fullContent12" style="display:none;">No one likes a complainer, so don't dwell on
            negative experiences during an interview. Even if the interviewer asks you point blank, "What courses have
            you liked least?" or "What did you like least about that previous job?" don't answer the question. Or more
            specifically, don't answer it as it's been asked. Instead, say something like, "Well, actually I've found
            something about all of my classes that I've liked. For example, although I found [class] to be very tough, I
            liked the fact that [positive point about the class]" or "I liked [a previous job] quite a bit, although now
            I know that I really want to [new job]."</div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent13.style.display=(document.all.fullContent13.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">13.
            Close on a positive note.</a>
        <div class="block" id="fullContent13" style="display:none;">If a salesman came to you and demonstrated his
            product, then thanked you for your time and walked out the door, what did he do wrong? He didn't ask you to
            buy it! If you get to the end of an interview and think you'd really like that job, ask for it! Tell the
            interviewer that you'd really, really like the job – that you were excited about it before the interview and
            are even more excited now, and that you're convinced you'd like to work there. If there are two equally good
            candidates at the end of the search – you and someone else – the interviewer will think you're more likely
            to accept the offer, and thus may be more inclined to make an offer to you.</div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent14.style.display=(document.all.fullContent14.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">14.
            Bring a copy of your resume to every interview.</a>
        <div class="block" id="fullContent14" style="display:none;">Have a copy of your resume with you when you go to
            every interview. If the interviewer has misplaced his or her copy, you'll save a lot of time (and
            embarrassment on the interviewer's part) if you can just pull your extra copy out and hand it over.</div>
        <br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent15.style.display=(document.all.fullContent15.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">15.
            Don't worry about sounding "canned".</a>
        <div class="block" id="fullContent15" style="display:none;">Some people are concerned that if they rehearse
            their answers, they'll sound "canned" (or overly polished or glib) during the interview. Don't worry. If
            you're well prepared, you'll sound smooth and articulate, not canned. And if you're not so well prepared,
            the anxiety of the situation will eliminate any "canned" quality.</div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent16.style.display=(document.all.fullContent16.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">16.
            Make the most of the "Tell me about yourself" question.</a>
        <div class="block" id="fullContent16" style="display:none;">Many interviewers begin interviews with this
            question. So how should you respond? You can go into a story about where you were born, what your parents
            do, how many brothers and sisters and dogs and cats you have, and that's okay. But would you rather have the
            interviewer writing down what kind of dog you have – or why the company should hire you?
            Consider responding to this question with something like: "Well, obviously I could tell you about lots of
            things, and if I'm missing what you want, please let me know. But the three things I think are most
            important for you to know about me are [your selling points]. I can expand on those a little if you'd like."
            Interviewers will always say, "Sure, go ahead." Then you say, "Well, regarding the first point, [give your
            example]. And when I was working for [company], I [example of another selling point]." Etc. This strategy
            enables you to focus the first 10-15 minutes of the interview on all of your key selling points. The "Tell
            me about yourself" question is a golden opportunity. Don't miss it!
        </div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent17.style.display=(document.all.fullContent17.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">17.
            Speak the right body language.</a>
        <div class="block" id="fullContent17" style="display:none;">Dress appropriately, make eye contact, give a firm
            handshake, have good posture, speak clearly, and don't wear perfume or cologne! Sometimes interview
            locations are small rooms that may lack good air circulation. You want the interviewer paying attention to
            your job qualifications -- not passing out because you've come in wearing Chanel No. 5 and the candidate
            before you was doused with Brut, and the two have mixed to form a poisonous gas that results in you not
            getting an offer!</div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent18.style.display=(document.all.fullContent18.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">18.
            Be ready for "behavior-based" interviews".</a>
        <div class="block" id="fullContent18" style="display:none;">One of the most common interview styles today is to
            ask people to describe experiences they have had that demonstrate behaviors that the company thinks are
            important for a particular position. You might be asked to talk about a time when you made an unpopular
            decision, displayed a high level of persistence, or made a decision under time pressure and with limited
            information, for example.
            Step 1 is to anticipate the behaviors this hiring manager is likely to be looking for. Step 2 is to identify
            at least one example of when you demonstrated each behavior. Step 3 is to prepare a story for each example.
            Many people recommend using SAR (Situation-Action-Result) as a model for the story. Step 4 is to practice
            telling the story. Also, make sure to review your resume before the interview with this kind of format in
            mind; this can help you to remember examples of behaviors you may not have anticipated in advance.
        </div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent19.style.display=(document.all.fullContent19.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">19.
            Send thank-you notes.</a>
        <div class="block" id="fullContent19" style="display:none;">Write a thank-you note after every interview. Type
            each note on paper or send them by email, depending on the interviewers' preferences. Customize your notes
            by referring specifically to what you and the interviewer discussed; for example, "I was particularly
            excited about [or interested by, or glad to hear] what you said about ..." Handwritten notes might be better
            if you're thanking a personal contact for helping you in your job search, or if the company you're
            interviewing with is based in Europe. Whatever method you choose, notes should be sent within 48 hours of
            the interview.
            To write a good thank-you note, you'll need to take time after each interview to jot down a few things about
            what the interviewer said. Also, write down what you could have done better in the interview, and make
            adjustments before you head off for your next interview.
        </div><br>

        <a class="title" href="javascript:"
            onclick="document.all.fullContent20.style.display=(document.all.fullContent20.style.display=='none')?'':'none';document.all.smallContent.style.display=(document.all.smallContent.style.display=='none')?'':'none'">20.
            Don't give up!</a>
        <div class="block" id="fullContent20" style="display:none;">If you've had a bad interview for a job that you
            truly think would be a great fit for you (not just something you want badly), don't give up! Write a note,
            send an email, or call the interviewer to let him or her know that you think you did a poor job of
            communicating why you think this job would be a good match. Reiterate what you have to offer the company,
            and say that you'd like an opportunity to contribute. Whether this strategy will get you a job offer depends
            on the company and on you. But one thing's for sure: If you don't try, your chances are exactly zero. We've
            seen this approach work on numerous occasions, and we encourage you to give it that last shot.</div><br>


    </div><br>
    <div class ="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5Z3uzFtFNcQ" frameborder="0" allowfullscreen></iframe>
    </iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/B_LmCruLjis" frameborder="0" allowfullscreen></iframe>
    </iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dE5a1mmVJD4" frameborder="0" allowfullscreen></iframe>
    </iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5v-wyR5emRw" frameborder="0" allowfullscreen></iframe>
    </iframe></div>
    

</div>
</div>
</body>

</html>