<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<link href="{% static "css/jobselection.css" %}" rel="stylesheet">
<script src="{% static "js/jobselection.js" %}"></script>
<body>
  <form name="selectjob">
    <div class="container-fluid">
      <div class="flex">
        <div class="header">
          <h1 class="text-center text-nowrap"><b> Select the Job </b><span
              class="glyphicon glyphicon-check logo"></span>
          </h1>
        </div>
        <div class="form-group">
          <label for="inputoccupationalgroup">Occupational Group</label>
          <select class="form-control" class="jobType" name="jobcate" size=3 onchange="renew(this.selectedIndex);">
            <option value="01">Information Technology/Engineering
            <option value="02">Finance/Accounting/Audit/Tax/Securities/Investment/Bank
          </select></div>

        <!-- <div class="A1"> -->
        <form action="post" type="submit">
          <div class="form-group">
            <label for="inputoccupation">Occupation</label>
            <select class="selectJob form-control" name="jobb" size=8 onchange="isSelected(this.selectedIndex);"
              id="jobb">
              <option value="00">You have to choose an occupational group above first. </option>
            </select></div>
        </form>
      </div>
    </div>
    </div>

    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="jobName" id="jobName" value="" />
      <input name="isSelected" class="isSelected btn btn-primary" type="submit" value="Confirm the job"
        onclick="isSelected()"></button>
    </form>
  </form>
</body>

</html>