<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tech News</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b21871699d.js" crossorigin="anonymous"></script>
</head>

<style>img {border-radius: 15px;}</style>

<body>


    <div class="jumbotron" style="color:black">

    <h1 style="color:rgb(67, 138, 231); font-size:300%; font-family:Lucida Bright">
        <i class="fas fa-newspaper"></i> The Latest News 
    </h1>
    
</div>

    </div>

    <center>
        <button class="click btn-success">Tech News</button>
        <button class="click1 btn-success">Finance News</button>
    </center>
    
    <div align:center;>
        <div class="tech">
            {% for new, des, im , ur, tim in tech_list %}
            <h3>{{new}}</h3>
            {{value | linebreaks}}
            Published Time: {{tim}}
            {{value | linebreaks}}
            <img src="{{im}}" alt="" style="width:650px;height:400px;">
            <h6></h6>{{des}}
            {{value | linebreaks}}
            <h6>View the link below for further information: </h6>
            <a href={{ur}}>{{ur}}</a>
            {{value | linebreaks}}
            <br>
            {% endfor %}
        </div>
        
    </div>
    
        <div class='fin'>
            {% for new, des, im , ur, tim in fin_list %}
            <h3>{{new}}</h3>
            {{value | linebreaks}}
            Published Time: {{tim}}
            {{value | linebreaks}}
            <img src="{{im}}" alt="" style="width:650px;height:400px;">
            <h6></h6>{{des}}
            {{value | linebreaks}}
            <h6>View the link below for further information: </h6>
            <a href={{ur}}>{{ur}}</a>
            {{value | linebreaks}}
            <br>
            {% endfor %}
        </div>

    

</body>
<script>
    $(document).ready(function(){
      $(".click").click(function(){
        $(".tech").show();
        $(".fin").hide();
      })
    });

    $(document).ready(function(){
      $(".click1").click(function(){
        $(".fin").show();
        $(".tech").hide();
      })
    });
</script>
<style>
    .btn-success {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: block;
        padding: 8px 28px;
        border-radius: 10px;
        transition: 0.5s;
        margin: 10px;
        border: 2px solid #fff;
        color: #fff;
    }

    .btn-success:hover {
        background: #2dc997;
        border: 2px solid #2dc997;
    }
</style>

</html>