<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>News</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/b21871699d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/news.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>

<style>

</style>

<body>
    <div class="container">
        <div class="bg-image" style="background-image: url('{% static "img/office_bg.jpg" %}');"></div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="myNavbar">
                <a class="navbar-brand"><span class="glyphicon glyphicon-link logo"></span><b> News</b></a>
                <ul class="nav navbar-nav navbar-right" style="display:inline;">
                    <li><a onclick="location.href='/'" style=cursor: pointer;>Home</a></li>
                    <li><a onclick="location.href='/users/services/'">Services</a></li>
                    <li><a onclick="location.href='/users/questionBank/'">Question Bank</a></li>
                    <li><a onclick="location.href='/users/interviewSkill/'">Interview Skills</a></li>
                    <li><a onclick="location.href='/users/companyProfile/'">Company Profile</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Entry
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href='/users/login/'>Sign In</a></li>
                          <li><a href='/users/signUp/'>Sign Up</a></li>
                          <li><a href="/users/logout/">Log Out</a></li>
                        </ul>
                      </li>
                    <li><a onclick="location.href='/users/aboutUs/'">Team</a></li>`
                    <li><a onclick="location.href='/users/personalFile/'">Personal Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="newsbtn">
        <button class="click btn-success">Tech News</button>
        <button class="click1 btn-success">Finance News</button>
    </div>
    <a class="top-link hide" id="scrollTop" title="Go to top"></a>

    <div align:center;>
        <div class="tech" style="display:none;position:absolute; left:20%; width:50%; font-family:monospace;">
            {% for new, des, im , ur, tim in tech_list %}
            <h3>{{new}}</h3>
            {{value | linebreaks}}
            <p style="font-size: 16px;">Published Time: {{tim}}
            {{value | linebreaks}}</p>
            <img src="{{im}}" alt="" style="width:650px;height:400px;">
            <h6></h6>{{des}}
            {{value | linebreaks}}
            <h6 style="font-size: 16px;">View the link below for further information: </h6>
            <a href={{ur}} style="font-size: 16px;">{{ur}}</a>
            {{value | linebreaks}}
            <br>
            {% endfor %}
        </div>
    </div>

    <div class='fin' style="display:none;position: absolute;left: 20%; width: 50%; font-family: monospace;">
        {% for new, des, im , ur, tim in fin_list %}
        <h3>{{new}}</h3>
        {{value | linebreaks}}
        <p style="font-size: 16px;">Published Time: {{tim}}
        {{value | linebreaks}}</p>
        <img src="{{im}}" alt="" style="width:650px;height:400px;">
        <h6></h6>{{des}}
        {{value | linebreaks}}
        <h6 style="font-size: 16px;">View the link below for further information: </h6>
        <a href={{ur}} style="font-size: 16px;">{{ur}}</a>
        {{value | linebreaks}}
        <br>
        {% endfor %}
    </div>

</div>
</body>

<script>
    $(document).ready(function () {
        $(".click").click(function () {
            $(".tech").show();
            $(".fin").hide();
        })
    });

    $(document).ready(function () {
        $(".click1").click(function () {
            $(".fin").show();
            $(".tech").hide();
        })
    });
</script>

<script>
    var scrollTop = document.getElementById("scrollTop");

    scrollTop.addEventListener('click', () => window.scrollTo({
        top: 0,
        behavior: 'smooth',
    }));

    const scrollFunc = () => {
        // Get the current scroll value
        let y = window.scrollY;

        // If the scroll value is greater than the window height, let's add a class to the scroll-to-top button to show it!
        if (y > 0) {
            scrollTop.className = "top-link show";
        } else {
            scrollTop.className = "top-link hide";
        }
    };

    window.addEventListener("scroll", scrollFunc);
</script>
<style>
    .newsbutton {
        display: flex;
        justify-content: center;
    }

    .btn-success {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 28px;
        border-radius: 10px;
        transition: 0.5s;
        margin: 10px;
        border: 2px solid #fff;
        color: #fff;
        text-align: center;
    }

    .btn-success:hover {
        background: #2dc997;
        border: 2px solid #2dc997;
    }
</style>

</html>