<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static "css/personalFile.css" %}">
        <title>Personal Profile</title>
    <!-- <h1>Interview History</h1>
    {{ ResultTable | safe }} -->

</head>
<style>
    .bg-image {
    background-image: url('{% static "img/office_bg.jpg" %}');
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1000;
    display: block;
    height: 105%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }

  .container {
    z-index: 9999;
  }
</style>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href=""><span class="glyphicon glyphicon-user logo"></span><b>Personal Profile</b></a>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a onclick="location.href='/'" style=cursor: pointer;>HOME</a></li>
              <li><a onclick="location.href='/users/services/'">Services</a></li>
              <li><a onclick="location.href='/users/questionBank/'">Question Bank</a></li>
              <li><a onclick="location.href='/users/interviewSkill/'">Interview Skills</a></li>
              <li><a onclick="location.href='/users/companyProfile/'">Company Profile</a></li>
              <li><a onclick="location.href='/newstech/'">News</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Entry
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href='/users/signUp/'>Sign Up</a></li>
                  <li><a href="/users/logout/">Log Out</a></li>
                </ul>
              </li>
              <li><a onclick="location.href='/users/aboutUs/'">About Us</a></li>`
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
      <div class="bg-image"></div>
    <div style="position: absolute; top: 150px;left: 100px;width: 80%;">
        <table class="table table-hover">
            <caption style="top: 0; bottom: auto;font-weight: bolder;"></caption>Interview History</caption>
            <thead>
                <tr class="danger">
                    <th scope="col">Record</th>
                    <th scope="col">Account</th>
                    <th scope="col">Selected Job</th>
                    <th scope="col">Interview Date</th>
                    <th scope="col">Interview Time</th>
                    <th scope="col">Analysis Report</th>
                </tr>
            </thead>
            <tbody>
                {% for item in df.itertuples %}
                <form action="/result/" method="POST">
                  {% csrf_token %}
                  <tr class="success">
                    <th scope="row"><p style="left: 15%;position: relative;"> {{item.ID}}</p></th><input type="hidden" value="{{item.ID}}">
                    <td> {{ item.Name }}</td><input type="hidden" value="{{item.Name}}">
                    <td> {{ item.SelectedJob }}</td><input type="hidden" value="{{item.SelectedJob}}">
                    <td> {{item.Date}}</td><input type="hidden" value="{{item.Date}}">
                    <td> <p style="left: 15%;position: relative;">{{item.Time|slice:5}}</p></td><input type="hidden" name="time" value="{{item.Time}}">
                    <td style="width: 20%;"><input class="btn btn-primary" type="submit" value="Go!" style="left: 15%;position: relative;"></td>
                </tr>
                </form>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>

</html>