<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/personalFile.css" %}">
        <title>Personal Profile</title>
    <!-- <h1>Interview History</h1>
    {{ ResultTable | safe }} -->

</head>

<body style="background-image: url('{% static "img/citibank.jpeg" %}')"; background-repeat:no-repeat;>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href=""><span class="glyphicon glyphicon-user logo"></span><b>Personal Profile</b></a>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a onclick="location.href=''" style=cursor: pointer;>HOME</a></li>
              <li><a onclick="location.href='/users/services/'">Services</a></li>
              <li><a onclick="location.href='/users/questionBank/'">Question Bank</a></li>
              <li><a onclick="location.href='/users/interviewSkill/'">Interview Skills</a></li>
              <li><a onclick="location.href='/users/companyProfile/'">Company Profile</a></li>
              <li><a onclick="location.href='/newstech/'">News</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Entry
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href='/users/signUp/'>Sign Up</a></li>
                  <li><a href="/users/logout/">Log Out</a></li>
                </ul>
              </li>
              <li><a onclick="location.href='/users/aboutUs/'">About Us</a></li>`
            </ul>
          </div>
        </div>
      </nav>
    <div style="position: absolute; top: 100px;left: 100px;width: 80%;">
        <table class="table">
            <caption style="top: 0; bottom: auto;font-weight: bolder;"></caption>Interview History</caption>
            <thead>
                <tr class="active">
                    <th scope="col">Record</th>
                    <th scope="col">Account</th>
                    <th scope="col">Selected Job</th>
                    <th scope="col">Interview Date</th>
                    <th scope="col">Interview Time</th>
                </tr>
            </thead>
            <tbody>
                {% for item in df.itertuples %}

                <tr class="info">

                    <th scope="row"> <a href="/result">{{item.ID}}</a></th>
                    <td><a href="/result">{{ item.Name }}</a></td>
                    <td>{{ item.SelectedJob }}</td>
                    <td>{{item.Date}}</td>
                    <td>{{item.Time}}</td>
                </tr>
                <!-- <tr class="table-info">
                    <th scope="row">3</th>
                    <td>{{ item.Name }}</td>
                    <td>{{ item.SelectedJob }}</td>
                    <td>{{item.Date}}</td>
                    <td>{{item.Time}}</td>
                </tr> -->

                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
      $(function () {
        $('#container').highcharts({
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            title: {
                text: 'Browser<br>shares<br>2015',
                align: 'center',
                verticalAlign: 'top',
                y: 40
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            pane: {
                center: ['50%', '75%'],
                size: '50%',
                startAngle: -90,
                endAngle: 90,
                background: {
                  borderWidth: 0,
                    backgroundColor: 'none',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },
        yAxis: [{
                lineWidth: 0,
              min: 0,
              max: 90,
                minorTickLength: 0,
                tickLength: 0,
                tickWidth: 0,
              labels: {
                enabled: false
              },
                title: {
                    text: '', //'<div class="gaugeFooter">46% Rate</div>',
                    useHTML: true,
                    y: 80
                },
              /*plotBands: [{
                from: 0,
                to: 46,
                color: 'pink',
                innerRadius: '100%',
                outerRadius: '0%'
              },{
                from: 46,
                to: 90,
                color: 'tan',
                innerRadius: '100%',
                outerRadius: '0%'
              }],*/
              pane: 0,
              
          }],
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                },
                gauge: {
              dataLabels: {
                enabled: false
              },
              dial: {
                radius: '100%'
              }
            }
            },
         
            series: [{
                type: 'pie',
                name: 'Browser share',
                innerSize: '50%',
                data: [
                    ['POOR',   25],
                    ['FAIR',       25],
                    ['GOOD', 25],
                    ['EXCELLENT',     25]
                ]
            },{
                type: 'gauge',
                data: [40],
                dial: {
                    rearLength: 0
                }
            }],
        });    
    });
    </script>
</body>

</html>