<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {% load static %}
  <meta charset="utf-8">
  <title>Sign Up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
  <link href="{% static "css/signUp.css" %}" rel="stylesheet">

 
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">

      <a class="navbar-brand" href=""><span class="glyphicon glyphicon-file logo"></span><b> Sign Up</b></a>
      <div class="collapse navbar-collapse" id="myNavbar" style="cursor: pointer;">
        <ul class="nav navbar-nav navbar-right">
          <li><a onclick="location.href='/'">HOME</a></li>
          <li><a onclick="location.href='/users/services/'">Services</a></li>
          <li><a onclick="location.href='/users/questionBank/'">Question Bank</a></li>
          <li><a onclick="location.href='/users/interviewSkill/'">Interview Skills</a></li>
          <li><a onclick="location.href='/users/companyProfile/'">Company Profile</a></li>
          <li><a onclick="location.href='/newstech/'">News</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Entry
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href='/users/login/'>Sign In</a></li>
              <li><a href="/users/logout/">Log Out</a></li>
            </ul>
          </li>
          <li><a onclick="location.href='/users/aboutUs/'">Team</a></li>`
          <li><a onclick="location.href='/users/personalFile/'">Personal Profile</a></li>
        </ul>
      </div>

  </nav>
  <div class="container">
  <form class="form-horizontal" action="/users/regist/" data-toggle='validator' method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="container-fluid text-nowrap" style="font-family: monospace;">
      <div class="header" style="padding: 10% 40px;">
        <h1 class="text-center text-nowrap"><span class="glyphicon glyphicon-user logo" style="color: rgb(121, 147, 242);
          font-size: 30px;"></span><b> Sign Up </b></h1>
      </div>
      <div class="sub_div text-nowrap">
        <div class="row">
          <div class="form-group col-sm-4">
            <label class="col-md-5 control-label"> Name:</label>
            <div class="col-md-7">
              <input type="text" class="form-control input-lg" name="name" value="" placeholder="Chinese Name" required
                autofocus><br>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label class="col-md-5 control-label"> ID: </label>
            <div class="col-md-7">
              <input type="text" class="form-control input-lg" name="id" value="" placeholder="ID" required><br>
            </div>
          </div>
          <div class="form-group col-sm-4" >
            <label class="col-md-5 control-label" > Birthday: </label>
            <div class="col-md-7" >
              <input type="date" style="width: 190px;"class="form-control input-lg" name="bday" value="" required><br>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-4">
            <label class="col-md-5 control-label"> Phone: </label>
            <div class="col-md-7">
              <input type="tel" class="form-control input-lg" name="phone" value="" placeholder="Phone Number"
                required><br>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label class="col-md-5 control-label"> Account: </label>
            <div class="col-md-7">
              <input type="text" class="form-control input-lg" name="account" value="" placeholder="Account"
                required><br>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label class="col-md-5 control-label"> Password: </label>
            <div class="col-md-7">
              <input type="password" class="form-control input-lg" name="password" value="" placeholder="Password"
                pattern="^[a-zA-Z0-9]{6,}$" data-error="Please input at least 6 character of number or English alphabet"
                required><br>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <label class="col-md-2 control-label"> Email: </label>
              <div class="col-md-9">
                <input type="email" class="form-control input-lg" name="email" value="" placeholder="E-mail"
                  required><br>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <label class="col-md-2 control-label"> Address: </label>
              <div class="col-md-9">
                <input type="text" class="form-control input-lg" name="address" id="" value="" placeholder="Address"
                  required><br>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <label class="col-md-2 control-label"> Gender: </label>
              <div class="col-md-9">
                <label class="radio-inline">
                  <input class="oradio" type="radio" name="Male" value="Male" checked> Male
                </label>
                <label class="radio-inline">
                  <input class="oradio" type="radio" name="Female" value="Female"> Female
                </label>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>

        <div class="help-block with-errors"></div>
        <div class="sub_div text-nowrap text-center">
          <input type="submit" class="btn btn-primary btn-lg" value="SUBMIT">
        </div>
  </form>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>

</html>