<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>speech to text recording</title>

  </head>
  <body>
    <h1>Please start talking after hitting the button.</h1>
    <form action='button_click' method='get'>
      <button type="button" value="Click" name="speech_button" onclick="cursor()">Start</button>
    </form>

    <p id='demo'></p>
    <script>
      function cursor(){
        var text =  buttonClicked
        document.getElementById("demo").innerHTML = text
      }
    </script>
 

    <p id="paragraph"></p>
    <em>{{ s }}</em>

  </body>
</html>
